@import url("https://fonts.googleapis.com/css?family=Roboto");
root {
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-emphasis-color: #000;
    --bs-body-font-weight: 400;
    --bs-body-bg: #fff;
    --bs-border-color: #dee2e6;
    --bs-emphasis-color-rgb: 0, 0, 0;
}
.hidden {
    display: none;
}
body {
    font-family: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}
/*----------navbar-css------------*/
.navbar-logo {
    padding: 15px;
    color: #fff;
}
.navbar-mainbg {
    background-color: #5161ce;
    padding: 0 !important;
}
#navbarSupportedContent {
    overflow: hidden;
    position: relative;
    justify-content: center;
}
#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}
#navbarSupportedContent ul li a i {
    margin-right: 10px;
}
#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}
#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent > ul > li.active > a {
    color: #5161ce;
    background-color: transparent;
    transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
}
.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}
.hori-selector .right {
    right: -25px;
}
.hori-selector .left {
    left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}
.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}
.hiddenInput{
    display: none;
}

@media (min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}
/*---------------------------crop css---------------------------------------*/
#saveCrop{
    height: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
.container{
    max-width: 1230px;
    width: 100%;
}
h1{
    font-weight: 700;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.animatedBg{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.header{
    margin-bottom: 80px;
    padding: 100px;
    padding-top: 50px;
}
#description{
    font-size: 24px;
}

.form-wrap{
    background: rgba(255,255,255,1);
    width: 100%;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap:before{
    content: "";
    width: 90%;
    height: calc(100% + 60px);
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    background: #00bcd9;
    z-index: -1;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-group{
    margin-bottom: 25px;
}
.form-group > label{
    display: block;
    font-size: 18px;
    color: #000;
}
.custom-control-label{
    color: #000;
    font-size: 16px;
}
.custom-control-inline{
    display: inline-flex;
    margin-right: 8rem;
    margin-top: 10px;
}
.form-control{
    height: 50px;
    background: #ecf0f4;
    border-color: transparent;
    padding: 0 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    appearance: auto !important;
    -webkit-appearance: checkbox !important;
}
.form-control:focus{
    border-color: #00bcd9;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
.form-control-file{
    width: 100%;
    height: 200px;
    background: #ecf0f4;
    border-color: transparent;
    padding: 0 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#cropImgSelector{
    margin-top: 10px;
    margin-bottom: 20px;
}
#previewImage{
    max-width: 150px;
    max-height: 80px;
    margin-top: 10px;
    display: block;
}


.btn{
    padding: .500rem .75rem !important;
    font-size: 18px !important;
    letter-spacing: 0.050em !important;
    margin-left: 5px !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out!important;
}

.btn-primary {
    color: #fff !important;
    background-color: #00bcd9 !important;
    border-color: #00bcd9 !important;
}

.btn-primary:hover {
    color: #00bcd9 !important;
    background-color: #ffffff !important;
    border-color: #00bcd9 !important;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
}
.btn-secondary:hover {
    color: #6c757d !important;
    background-color: #ffffff !important;
    border-color: #6c757d!important;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1) !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
}
.btn-warning:hover {
    color: #ffc107 !important;
    background-color: #ffffff!important;
    border-color: #ffc107!important;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1)!important;
}
.btn-danger:hover {
    color: #dc3545 !important;
    background-color: #ffffff !important;
    border-color: #dc3545 !important;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1) !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1) !important;
}
/*table css*/
.container {
    padding: 1rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem !important;
}

.table-image ,
td, th {
    vertical-align: middle !important;
}
.deleteBtn{
    width: max-content!important ;
    color: red !important;
    cursor: pointer !important;
    display: none !important;
}
tr:hover .deleteBtn{
    display: inline-block !important;
}
.custom-iziToast {
    width: 400px !important;
    height: 100px !important;
    letter-spacing: 1px !important;
}
.custom-iziToast-btn {
    width: 400px !important;
    height: 100px !important;
    letter-spacing: 1px !important;
    background-color: #f1f97d !important;
}

@media (max-width: 768px) {
    /*header*/
    #saveCrop {
        margin-top: 10px;
    }
    .header {
        padding: 60px;
    }
    h1 {
        font-size: 35px;
    }
    #description {
        font-size: 13px;
    }
    /*table */
    .table {
        min-width: 850px;
    }
    #cropTable{
        overflow-X: scroll;
    }
    .form-control-file {
        width: 100%;
    }
    .w-25 {
        width: 15% !important;
    }
}
/*---------------------------equipment css---------------------------------------*/
#equipmentTblCard{
    margin-top: 40px;
    margin-bottom: 100px;
    height: auto;
}
.table>tbody {
    vertical-align: middle;
}
.tblBtn{
    /*width: max-content;*/
    /*color: red;*/
    /*cursor: pointer;*/
    display: none;
}
tr{
    cursor: pointer;
    height: 55px;
}
tr:hover .tblBtn{
    display: inline-block;
    max-height: 40px;
}
/*save Equipment css*/
#saveEquipment{
    height: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
#staffSelectCard,
#fieldSelectCard{
    /*border: 1px solid #00bcd9;*/
    /*border-radius: 10px;*/
    border-top: 1px dashed #00bcd9;
    padding: 20px;
    margin-bottom: 30px;
}
#staffSelectCard > h4,
#fieldSelectCard > h4{
    margin-bottom: 30px;
}
#staffSelectCard:hover,
#fieldSelectCard:hover{
    border: 1px solid #00bcd9;
    border-radius: 10px;
}

#fieldImg{
    width: 60%;
    height: 200px;
    background: #ecf0f4;
    border-color: transparent;
    padding: 0 15px;

}
#fieldImg > img{
    width: 95%;
    height: 80%;
    margin-top: 10px;
    /*display: block;*/
}
@media (max-width: 768px) {
    .equipmentTbl,
    #logTblCard,
    #fieldTblCard{
        overflow-X: scroll;
    }
    .table {
        width: max-content;
    }
    .tblBtn {
        /*display: inline-block;*/
        height: 30px;
        font-size: 10px;
        letter-spacing: 0px;
        width: max-content;
    }

    #fieldImg{
        width: 100%;
        height: 150px;
        background: #ecf0f4;
        border-color: transparent;
        padding: 0 15px;

    }
    #fieldImg > img{
        height: auto;

    }
    #saveLog{
        margin-top: 10px;
    }

}
/*---------------------------field css---------------------------------------*/
#saveField{
    height: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
#fieldImgSelector1, #fieldImgSelector2 {
    margin-top: 10px;
    margin-bottom: 20px;
}
#previewImage1, #previewImage2{
    max-width: 150px;
    max-height: 80px;
    margin-top: 10px;
    display: block;
}
/*map css*/
.map_container {
    width: 100%;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
    background: #00bcd9;
    margin-bottom: 20px;
}
.map_container #map {
    height: 100%;
    min-height: 100%;
    width: 100%;
}
#fieldDeleteBtn{
    display: none;
}
/*main table css*/
td > img{
    width: 60px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*---------------------------vehicle css---------------------------------------*/
#saveVehicle{
    height: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
#staffSelectCard{
    /*border: 1px solid #00bcd9;*/
    /*border-radius: 10px;*/
    border-top: 1px dashed #00bcd9;
    padding: 20px;
    margin-bottom: 30px;
}
#staffSelectCard > h4{
    margin-bottom: 30px;
}
#staffSelectCard:hover{
    border: 1px solid #00bcd9;
    border-radius: 10px;
}
.tblBtn{
    /*width: max-content;*/
    /*color: red;*/
    /*cursor: pointer;*/
    display: none;
}
tr{
    cursor: pointer;
    height: 55px;
}
tr:hover .tblBtn{
    display: inline-block;
    max-height: 40px;
}
@media (max-width: 768px) {
    #vehicleTblCard{
        overflow-X: scroll;
    }
    .table {
        width: max-content;
    }
    .tblBtn {
        /*display: inline-block;*/
        height: 30px;
        font-size: 10px;
        letter-spacing: 0px;
        width: max-content;
    }

}
/*---------------------------staff css---------------------------------------*/
#crudCard{
    height: auto;
    /*margin-top: 40px;
    margin-bottom: 50px;*/
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}
.custCard {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    color: white;
    display: grid;
    margin-top: 40px;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
}
.addCard-desc {
    background: linear-gradient(to bottom, #4389c8, #356e9d);
}
.updateCard-desc {
    background: linear-gradient(to bottom, #f1b44d, #d69438);
}
.deleteCard-desc {
    background: linear-gradient(to bottom, #f56f6f, #d53d3d);
}
.searchCard-desc {
    background: linear-gradient(to bottom, #5cb385, #4b946e);
}
.custCard:hover .img-section {
    transform: translateY(1em);
}
.card-desc {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: -10px;
    display: grid;
    gap: 10px;
}
.card-time {
    font-size: 1.7em;
    font-weight: 500;
}
.img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 62%);
}
.card-header {
    display: flex;
    align-items: center;
    width: 100%;
}
.card-title {
    flex: 1;
    font-weight: bold;
}

.custCard svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
}
.custCard .recent {
    line-height: 0;
    font-size: 0.8em;
}

/*search bar css*/
.custSearchCardHeader{
    /*background-color: #198754;*/
    /*color: white;*/
    text-align: center;
}
#custSearchCardBody{
    margin-top: 0 !important;
    margin-bottom: 40px !important;
    display: flex;
}
/*Add new staff model css*/
.form-wrap-staff{
    background: rgba(255,255,255,1);
    width: 100%;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap-staff:before{
    content: "";
    width: 90%;
    height: calc(100% + 60px);
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    /*background: #00bcd9;*/
    background: #000000;
    z-index: -1;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
#inputAD1{
    width: 20%;
    margin: 10px;
    float: left;
}
#inputAD5{
    width: 75%;
    margin: 10px;
}
#inputAD2{
    width: 97%;
    margin: 10px;
}
#inputAD3{
    width: 75%;
    margin: 10px;
}
#inputAD4{
    width: 20%;
    margin: 10px;
    margin-top: 0;
    float: left;
}
#suggestions {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 50%;
    z-index: 1000;
    background: white;
    list-style: none;
    padding: 0;
}
#suggestions .list-group-item {
    padding: 0.5rem;
}
#suggestions .list-group-item:hover {
    background-color: #f8f9fa;
}
/*Start Section Stats*/

.statistics .data
{
    background-color: rgba(3, 3, 3, 0.7);
    /*background-color: #5161ce;*/
    color: #B6B5B5;
    min-height: 300px;
    padding: 40px;

}

.statistics .stats:hover {color: #FFF}
.statistics p {font-size: 60px; font-weight: 600; margin-bottom: 0}
.statistics span {font-size: 16px}

#staffTblCard tr{
    height: 55px;
}
@media (max-width: 768px) {
    #staffTblCard{
        overflow-X: scroll;
    }
    .table {
        width: max-content;
    }

}